 @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


svg {
  background: lightgreen;
  display: block;
  margin: auto;
}

h1{

font-family: 'Press Start 2P', cursive;



}

body{

  background-color: slategray;
}

h2{

font-family: 'Press Start 2P', cursive;
}